{% extends "base.html" %} {% block content %}
<!-- TODO: JS that cycles every week, highlights who's buying -->
<div class="container-fluid">
  <div>
    <div class="row lunch">
      <h1>Who's buying?</h1>
      {% for player in allPlayerLunchInfo %}
      <p class="lunch-entry" id="{{ player.playerFirstName }}">{{ player.playerFirstName }}</p>
      {% endfor %}
    </div>
  </div>
</div>
<script src="{{url_for('static',filename='lunchList.js')}}"></script>
<script type="text/javascript">
  setLunchBuyer("{{ buyingPlayer.playerFirstName }}");
</script>
{% endblock%}