{% extends "base.html" %} {% block content %}
<!-- TODO: JS that cycles every week, highlights who's buying -->
<div class="container-fluid">
  <div>
    <div class="row lunch">
      <h1>Who's buying?</h1>
      <p class="lunch-entry" id="jd">JD</p>
      <p class="lunch-entry" id="ben">Ben</p>
      <p class="lunch-entry" id="gio">Gio</p>
      <p class="lunch-entry" id="hannah">Hannah</p>
      <p class="lunch-entry" id="charlie">Charlie</p>
    </div>
  </div>
</div>
<script src="{{url_for('static',filename='lunchList.js')}}"></script>
<script type="text/javascript">setLunchBuyer("{{ playerName }}")</script>
{% endblock%}